snippet dde
echo '<pre>'.print_r($1, true).'</pre>';exit;
endsnippet

snippet gtest
/**
 * @group test
 */
endsnippet

snippet binput
<label></label>
<input type="text" class="form-control" $1 />
endsnippet

snippet bgroup
<div class="form-group">
    $1
</div>
endsnippet

snippet bgrouprow
<div class="row">
    <div class="col-12">
        <div class="form-group">
            $1
        </div>
    </div>
</div>
endsnippet
