# snippet cl
# console.log($1);
# endsnippet
snippet vue
<template>
$1
</template>
<script>
export default {

  components: {
  },

  data() {
    return {
    };
  },

  methods: {
  },

};
</script>
endsnippet
